#mapid {
    position: relative;
    height: 700px;
    width: 100%;
    z-index: 5;
    margin: 10px 0px 0px 0px;
}

.card-title {
    color: black;
}

@media screen and (max-width: 576px) {
    .legend {
        line-height: 18px;
        color: #B3B3B3;
        height: 13em;
        width: 10em;
        border: 1px solid black;
        display: none;
    }
}

@media screen and (min-width: 576px) and (max-width: 1366px) {
    .legend {
        line-height: 18px;
        color: #B3B3B3;
        height: auto;
        width: 20em;
        border: 1px solid black;
    }
    
    .carousel img,
    .card-img-top {
        height: 13em;
    }

    .card-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: auto;        
        overflow-x: hidden;    
    }
}

@media screen and (max-height: 748px) {
    .legend {
        line-height: 18px;
        color: #B3B3B3;
        height: auto;
        width: 20em;
        border: 1px solid black;
    }

    .card-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: auto;        
        overflow-x: hidden;    
    }

    .carousel img,
    .card-img-top {
        height: 13em;
    }
}

@media screen and (min-width: 1367px) and (min-height: 748px) {
    .legend {
        line-height: 18px;
        color: #B3B3B3;
        height: auto;
        width: 25em;
        border: 1px solid black;
    }

    .carousel img,
    .card-img-top {
        height: 15em;
    }

}

.view {
    background-image: url(../images/core/expand-solid.svg);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-position: center center;
}

.leaflet-left {
    left: 15% !important;
    transform: translate(-15%, 0%);
}

.leaflet-top {
    top: 15% !important;
    transform: translate(-15%, 0%);
}

/* Animation des Cartes */

.card.legend.leaflet-control {
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: all .2s ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

.card.legend.leaflet-control:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: all .2s ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}
/* Fin Animation des cartes */

.AccueilIcon{
    width:80px;
    height:80px;
    float:left;
    padding-top:20px;
}

.AccueilIcon:hover{
    cursor:pointer;
}
.sousTitreAccueil{
    padding-top:20px;
}
