#mapid {
    position: relative;
    height: 700px;
    width: 100%;
    z-index: 5;
    margin: 10px 0px 0px 0px;
}

.card-title {
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    
}

.card-body > p {
    overflow: hidden;
    max-height: 4em;
}

@media screen and (max-width: 576px) {
    .legend {
        line-height: 18px;
        color: #B3B3B3;
        height: 13em;
        width: 10em;
        border: 1px solid black;
        display: none;
    }
}

@media screen and (min-width: 576px) and (max-width: 1366px) {
    .legend {
        line-height: 18px;
        color: #B3B3B3;
        height: auto;
        width: 20em;
        border: 1px solid black;
    }
    
    .carousel img,
    .card-img-top {
        height: 13em;
    }

    .card-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: auto;        
        overflow-x: hidden;    
    }
}

@media screen and (max-height: 748px) {
    .legend {
        line-height: 18px;
        color: #B3B3B3;
        height: auto;
        width: 20em;
        border: 1px solid black;
    }

    .card-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: auto;        
        overflow-x: hidden;    
    }

    .carousel img,
    .card-img-top {
        height: 13em;
    }
}

@media screen and (min-width: 1367px) and (min-height: 748px) {
    .legend {
        line-height: 18px;
        color: #B3B3B3;
        height: auto;
        width: 25em;
        border: 1px solid black;
    }

    .carousel img,
    .card-img-top {
        height: 15em;
    }

}

.view {
    background-image: url(../images/core/expand-solid.svg);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-position: center center;
}

.leaflet-top.leaflet-left {
    top: 50% !important;
    left: 15% !important;
    transform: translate(-15%, -50%);
}

/* Animation des Cartes */

.card.legend.leaflet-control,
.leaflet-marker-icon {
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: all .2s ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

/* Enlève la scrollbar du contrôle de couche */
form.leaflet-control-layers-list.leaflet-control-layers-scrollbar {
    overflow: hidden;
}

.card.legend.leaflet-control:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: all .2s ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

/* Fin Animation des cartes */

.AccueilIcon{
    width:80px;
    height:80px;
    float:left;
    padding-top:20px;
}

#titreAccueil {
    z-index: 1000;
}

.AccueilIcon:hover{
    cursor:pointer;
}

.sousTitreAccueil{
    padding-top:20px;
}

/*-------------------Flipping Accueil-------------------*/
.iconPatrimoine {
    perspective: 600px;
    height: 125px;
}

.toSpinCard {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-font{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-back-face {
    transform: rotateY( 180deg );
}

.card-font-face {
    transform: rotateY(0deg);
}

.toSpinCard.isSpin {
    transform: rotateY(180deg);
}

a.list-group-item {
    background: white;
    color:black;
    transition: all 0.4s;
}
a.list-group-item:hover {
    background:#E98B39 !important;
    color: white !important;
}

/*------------------- MODAL -------------------*/
.close {
    opacity: 1;
}

.close > span {
    color: white;
}

.modalCard {
    border: none !important;
}

#mobileHeader {
    position: absolute;
    z-index: 1;
    right: 0;
    padding: .5rem;
    border-bottom: none;
}

#mobileBody {
    padding: 0;
}

#mobileContent {
    border: none;
}