#pageSelector {
    position: unset;
}

.nav-item.nav-link:hover {
    font-weight: bold;
    background: #E98B39;
    color: white;
    transition: .2s all;
}

.nav-item.nav-link {
    border: 1px solid white
}

.nav-item.nav-link.active {
    font-weight: bold;
    color: #E98B39;
    background: white;
    border: 1px solid #E98B39
}

div.sidebarAdmin > a.nav-link.active {
    background-color: #E98B39;
}

.sidebarAdmin {
    position: unset;
    line-height: 30px;
}

.contentAdmin {
    border-left: 1px solid rgba(0,0,0,.1)
}