html,body {
    scroll-behavior: smooth;
}

/*** POUR POSITIONNER LE FOOTER EN BAS DE PAGE AUTOMATIQUEMENT **/
html{
    height:100%;
}

body{
    min-height:100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
    position:relative;
}
/***************************************************************/

.no-margin{
    margin-left: 0;
    margin-right: 0;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.btn-primary {
    background-color:white;
    border-color: #E98B39 !important;
    color: #E98B39 !important; 
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #E98B39 !important;
    color: white !important;
    border-color: #E98B39 !important;
}

.form-control:focus {
    border-color: #E98B39;
    box-shadow: 0 0 0 2px #E98B39A0
}

.btn:focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #E98B39 ;
}

.pulse {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 100px auto;
    background-color: #000000d9;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

.waitingLogo {
    position: absolute;
    height: 100px;
    width: 100px;
}
  
.spinner {
    height: 100%;
    text-align: center;
    margin: 0;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

#basePage {
    min-height:100%;
    overflow: auto;
    display: none;
}


.anchor {
    display: block;
    padding-top: 80px;
}

/* Scroll Bar */
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar {
	width: 8px;
	background-color: #FFFFFF;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #E98B39;
}
/* Fin Scroll Bar */

/* PROVISOIRE */
.alert {
    z-index: 1020;
}

.erreur404FR-fr {
    background: url("../images//core/404-fr.svg") no-repeat;
    background-size: contain;
    background-position: center center;
    height: 50vh;
}

.erreur404EN-en {
    background: url("../images//core/404-en.svg") no-repeat;
    background-size: contain;
    background-position: center center;
    height: 50vh;
}

#button404 {
    margin: 10px;
}

@media screen and (max-width: 510px) {
    /** RESPONSIVE POUR LES TABLEAUX **/
    table, thead, tbody, tr, th, td{
        display:block;
    }

    thead{
        display:none;
    }

    tr{
        margin-bottom:1rem;
        border: 2px solid #dee2e6;
        box-shadow: 4px 5px 6px #BEBEBE;
    }
    td{
        padding-left:150px;
        overflow:hidden;
        text-overflow: ellipsis;
        position:relative;
        margin-top:-1px;
        background:white;
        text-align:right;
    }

    td:before{
        padding:10px;
        content:attr(data-label);
        position: absolute;
        top:0;
        left:0;
        width:130px;
        bottom:0;
        background-color:#444;
        color:white;
        display:flex;
        align-items: center;
    }

    td:hover{
        background-color: rgba(0,0,0,.08);
    }

    .table-striped tbody tr td:nth-child(odd){
        background-color: rgba(0,0,0,.05);
    }

    td .btn{
        width:80px;
        float:right;
    }

    td .btn:last-child{
        margin-right:10px;
    }

    td .list-group-item {
        width:80px;
        float:right;
        padding-right:0px;
    }

    td .list-group-item:hover{
        padding-right:20px;
    }
    
}