<<<<<<< HEAD


.nav-item{
	margin: 10px;
	font-size: 18px;
}

#navbarSupportedContent{
	justify-content: center;
}

#logo-header{
	width: 200px;
	position: absolute;
	z-index: 2;
	margin-top: -30px;
=======
.main-header {
	position: sticky;
	top: 0;
	z-index: 15;
>>>>>>> 4b8fd6352fcef309b2cc571fa5a757eb43d4def1
}