#sourceMentionsLegales{
    display:none;
}

#imgMentionsLégales{
    background-size:cover;
    height:300px;
    background-position:center;
    background-repeat: no-repeat;
    width:100%;
    position: relative;
    background-image:url("../images/accueil/lyon.jpg");
}

#textMentionsLegales{
    color: #777777;
    background-color: #ffffff;
    text-align: center;
    padding-bottom:50px;
}

.introMentions{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
}

.lesMentionsLegales{
    text-align:left;
    padding-top:50px;
}

.lesMentionsLegales p{
    font-size:15px;
}

.TitreMentionsLegales h2{
    background-color: #E98B39;
    border-radius: 5px;
    color: white;
    padding: 9px;
    margin-bottom: 20px;
    box-shadow: 8px 8px 8px #444;
    font-size:22px;
}

.TitreMentionsLegales h3{
    font-size:18px;
    padding:9px 0 9px 0;
    border-bottom:1px solid #E98B39;
    margin-bottom:20px;
}