/** La side bar **/
#sideBar{
  top: 200px;
  width: 200px;
  border:1px solid #444;
  position: fixed;
  height: 350px;
  z-index:8;
  bottom:10px;
}

/* La barre de navigation */
.nav {
    position: absolute;
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top:10px;
  }
  
  .nav li {
    line-height: 40px;
    padding-top:5px;
    padding-bottom:5px;
    font-size:17px;
  }

  /* Évènement sur un onglet*/
    .nav li a:hover,
    .nav li a.active {
        font-size:20px;
        text-decoration: none;
        border-left:4px solid #444;
        font-weight: bold;
        color: #E98B39;
    }

/* texte du lien de navigation */
.navLien{
    margin:0;
    padding:0;
    padding-left:30px;
}

/* Un lien de navigaiton */  
.nav-link{
    color: #B3B3B3;
    display: block;
    text-decoration: none;
    padding-left: 30px;
}
    .nav-link:hover{
        color:#B3B3B3;
    } 
    
    /* ------------------------ TIMELINE HISTORY ----------------------------------------*/

.btnHistory{
    position: absolute;
    width: 50%;
    margin-left: 150px;
    width: calc(100% - 220px);
}

h2{
    font-size:20px;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.lineTimeline{
    height: 80px;
    border-left: 2px solid #B3B3B3;
    margin-left: 60px;
}

.marginFrise{
    margin-left:150px;
    margin-right:50px;
}

p{
    font-size:13px;
}
        
#timelineHistory {
    position: relative;
}

#timelineHistory > div {
    padding-left: 20px;
    position:relative;
}
#timelineHistory > div > .bubble {
    background-image: url(test.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #B3B3B3;
    left: 20px;
    width: 120px;
    height: 120px;
    z-index: 400;
    background-size: contain;
}

.txtBubble{
    height:72px;
    overflow:hidden;
}

/*------------------------------------------------------------------------------------*/

/***** BODY ***********/
/** les différentes ancres */

#BodyHistoire{
    padding-left:25px;
}
#bodyMonuments{
  height:600px;
  }
  #bodyActivites{
      height:600px;
  }
  #bodyRestaurants{
      height:600px;
  }
  #bodyCommentaires{
      height:600px;
  }

  /* le texte de la page */
.bodyQuartier{
    /* margin-left:270px; */
}

.bodyQuartier h1{
    color:#444;
    font-size:30px;
}

/*--------------------- RESPONSIVE ------------------------------*/

@media screen and (max-width: 992px) {
    
    #sideBar{
        padding-left:0;
    }
}
@media screen and (max-width: 768px) {
    
    #sideBar{
        display:none!important;
    }

    .anchor{
        padding-top:30px;
    }
}