/** La side bar **/
#sideBar{
    top: 200px;
    width: 160px;
    border:1px solid #444;
    position: fixed;
    height: 360px;
    z-index:8;
    bottom:10px;
}

/* La barre de navigation */
.nav {
    position: absolute;
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top:10px;
  }
  
  .nav li {
    line-height: 40px;
    padding-top:5px;
    padding-bottom:5px;
    font-size:17px;
  }

  .nav li a.active {
    font-size:20px;
    text-decoration: none;
    border-left:4px solid #444;
    font-weight: bold;
    color: #E98B39;
}

.nav li a:hover{
    font-size:20px;
    text-decoration: none;
    font-weight: bold;
    color: #E98B39;
}

/* texte du lien de navigation */
.navLien{
    margin:0;
    padding:0;
    padding-left:30px;
}

/* Un lien de navigation */  
.nav-link{
    color: #B3B3B3;
    display: block;
    text-decoration: none;
    padding-left: 30px;
}

.nav-link:hover{
    color:#B3B3B3;
} 
    
/* ------------------------ TIMELINE HISTORY ----------------------------------------*/

.btnHistory{
    position: absolute;
    width: 50%;
    margin-left: 150px;
    width: calc(100% - 220px);
    margin-top:-6px;
    max-width:300px;
}

h2{
    font-size:20px;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.lineTimeline{
    height: 80px;
    border-left: 2px solid #E98B39;
    margin-left: 60px;
}

.marginFrise{
    margin-left:150px;
    margin-right:50px;
}

p{
    font-size:13px;
}
        
#timelineHistory {
    position: relative;
}

#timelineHistory > div {
    padding-left: 20px;
    position:relative;
}
#timelineHistory > div > .bubble {
    background-image: url(../images/bellecour/bellecour.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #E98B39;
    left: 20px;
    width: 120px;
    height: 120px;
    z-index: 400;
    background-size: cover;
}

.txtBubble{
    height:72px;
    overflow:hidden;
}

#sousTitreHistory{
    font-size:17px;
    color:#B3B3B3;
    font-style: italic;
}

@media screen and (max-width: 510px){
    .lineTimeline{
        display:none;
    }

    #timelineHistory > div{
        padding-left:0;
        padding-bottom:50px;
    }

    #timelineHistory > div > .bubble{
        left:0;
        width:100px;
        height:100px;
    }

    .btnHistory{
        width: calc(100% - 150px);
    }

    .marginFrise{
        margin-right:0;
        margin-left:110px;
    }
}

/*------------------------------------------------------------------------------------*/
/*------------------------------------- CAROUSEL MONUMENTS----------------------------*/
.arrow{
    background-image:url(../images/core/arrow-right.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width:30px;
    cursor:pointer;
    height: 100%;
}

#arrowLeftMonument{
    transform: rotate(180deg);
    float: left;
    position: absolute;
    z-index:100;
}

#arrowRightMonument{
    right:5%;
    float: left;
    position: absolute;
    z-index:100;
}

.carrousel{
    margin-left:20px;
    margin-top:40px;
    position:relative;
    overflow-y:hidden;
    height:365px;
}

.carrousel-contenu{
    overflow:hidden;
    margin-right:40px;
    margin-left:40px;
    height:450px;
}

.carrousel-contenu .card {
    float:left;
    margin-right:20px;
    transition: 1000ms width,border,margin-right ease-in-out;
    display:block!important;
    height:350px;
    position:relative;
    max-width:330px;
}

.carrousel-contenu .card img{
    height:50%!important;
}

.carrousel-contenu .card .card-body{
    height:50%!important;
    position:relative;
    transition: 500ms color ease-in-out;
}

.carrousel-contenu .card .card-body h5{
    transition: 500ms color ease-in-out;
}

.carrousel-contenu .card .card-body a{
    position:absolute;
    bottom: 20px;
    width: calc(100% - 2.5rem);
    transition: 500ms color,border ease-in-out;
    left: 50%;
    transform: translateX(-50%);
}

.cache .card-body a{
    border:none !important;
    color:white !important;
}
.cardMonument.cache{
    width:0!important;
    border:none!important;
    padding:0!important;
    color:white!important;
    flex:0!important;
    margin-right:0!important;
    /* visibility: hidden!important; */
}

.cache .card-body{
    color:white;
}

.cache h5{
    color:white;
}
.EnsavoirPlus{
    position:relative;
    height:350px;
    margin-top:20px;
    display:none;
    box-shadow: 19px 20px 0px -8px #E98B39;
    padding-right:0;
    height:450px;
}

.imgSavoirPlus{
    background-image:url("");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    width:100%;
    height:100%;
    opacity:0.7;
}

.cardMonument.cache.noVisibility{
    visibility: hidden;
}

.txtSavoirPlus{
    position: absolute;
    width:40%;
    text-align:justify;
    margin-left:20px;
    left:50%;
    top:50%;
    box-shadow:4px 3px 10px 5px #444;
    height:auto;
    overflow:hidden;
    max-height:350px;
    transform:translate(-50%,-50%);
    background-color:white;
    padding:10px;
    opacity:0.9;
}

.titreSavoirPlus{
    font-size: 20px;
    color: #444;
    font-weight: bold;
    margin-bottom: 10px;
}

#tableCommentaire {
    margin: 30px;
}

#SavoirPlusMonuments{
    margin-left:55px;
}

/*------------------------------------------------------------------------------------*/
/*------------------------------ACTIVITÉ-------------------------------------------*/

.imageActivite {
    background-position-x: right !important;
    background-size: contain !important;
    min-width: 100%;
    position: absolute;
    height: 50%;
    transition: all 1s ease-out 0s;
}

.panelActivite {
    overflow: hidden;
}

#arrowUpActivity{
    transform: rotate(270deg);
    height: 40px;
    width: 40px;
    margin: 30px;
}

#arrowDownActivity{
    transform: rotate(90deg);
    height: 40px;
    width: 40px;
    margin: 30px;
}

#parallaxactivite{
    margin-top: auto;
    margin-bottom: auto;
}

#activiteconteneur{
    height: 400px;
    overflow: scroll;
    transition: 0s box-shadow;
    overflow-x: hidden;
}

#activiteconteneur:hover{
    box-shadow: 0px 0px 4px 2px #E98B39A0;
    transition-duration: 1s;
    transition-delay: 0.5s;
}

#activiteconteneur > section{
    position: relative;
    height: 50%;
    width: 100%;
    padding: 10px;
}

#activiteconteneur > section > p{
    height: 65%;
    overflow: hidden;
}

#activiteconteneur > section > div > .imageActivite.hide,
#activiteconteneur > section > div > p.hide {
    mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    -webkit-mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.expandbutton{
    position: absolute;
    left: 5%;
    bottom: 20px;
    width: 90%;
    height: 4px;
    background: #E98B39;
    text-align: center;
    color: white;
}

.expandbutton > a{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E98B39;
    display: inline-block;
    top: -10px;
    position: relative;
    cursor: pointer;
}

.expandbutton > .arrowup{
    transform: rotate(180deg);
}

/*------------------------------------------------------------------------------------*/
/*------------------------------RESTAURANT-------------------------------------------*/
.containerCard{
    height:365px;
    margin:20px;
    overflow:hidden;
    transition:height 1s ease-in-out;
}

.cardRestaurant{
    float:left;
    margin-right:20px;
    margin-bottom:20px;
    display:block!important;
    height:350px;
    width:300px;
}
.cardRestaurant img{
    height:50%!important;
}

.cardRestaurant .card-body{
    height:50%!important;
    position:relative;
}

.cardRestaurant .card-body a{
    position:absolute;
    bottom: 20px;
    width: calc(100% - 2.5rem);
    left: 50%;
    transform: translateX(-50%);
}

#ctnRestaurants{
    height:50%;
    transition:height 1s ease-in-out;
}

/*------------------------------------------------------------------------------------*/
/***** BODY ***********/

#BodyHistoire{
    padding-left:25px;
}

  /* le texte de la page */

.bodyQuartier h1{
    color:#444;
    font-size:40px;
    font-weight: normal;
    margin-left:20px;
}

.arrow-restaurant{
    height:35px;
}

#arrowTopRestaurant{
    transform:rotate(270deg);
    float:left;
}

#arrowDownRestaurant{
    transform:rotate(90deg);
    float:left;
    margin-left:30px;
}

/*--------------------- RESPONSIVE ------------------------------*/

@media screen and (max-width: 992px) {
    
    #sideBar{
        padding-left:0;
    }

    .carrousel-contenu .card{
        width:45%;
    }
}
@media screen and (max-width: 768px) {
    
    #sideBar{
        display:none!important;
    }

    .anchor{
        padding-top:30px;
    }

    .txtSavoirPlus{
        width:60%;
    }

}

@media screen and (max-width: 510px) {

    .carrousel-contenu .card{
        width:95%;
    }

    .txtSavoirPlus{
        width:70%;
    }

}